*{
    margin: 0;
    padding: 0;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f4e4ba; 
   min-height: 100vh;
}
.container
{
    min-height: 55vh;
    min-width:50vh ;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
}
#heading{
    text-align: center;
    margin-top: 1rem;
}
form{
    margin:2rem 0rem 1rem 0rem; 
}
.amt{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
}
form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgrey;
    height: 2.5rem;
}
.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 1rem;
}
.dropdown i{
    font-size: 1.15rem;
    margin-top: 1.1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.75rem;
    border:1px solid lightgrey;
}
#msg{
    margin-top:1rem ;
    margin-bottom:1rem ;
    font-size: 1rem;
    font-weight: 500;
}
form button{
    background-color: #af4d98;
    height: 2.5rem;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}
select option{
    background-color:lightgrey;
}